

.loginwrapper{
background-image: url("../../img/schoolGraphics.png");
	background-size: 600px;
	background-attachment: fixed;
	background-position: bottom right;

	background-color: #e6e6e6;
	margin-top: 32px;

	box-shadow: 0px 0px 5px #8F8F8F;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 64px;
	min-height: 150px;
	height: 100%;
	}



img{

	margin: 64px 12px;

}
