<div class="container-fluid">

	<div class="page-headline">
		<h2 class="page-headline-title">WHY vTUTOR?</h2>
	</div>
</div>



<div class="container why-vtutor">

	<div class="row">
		<div class="col-sm-12">
		<h1><p class="text-center">
		Our Passion is to Help Kids Succeed</p></h1>
		
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6 ">
			<p class="text_wrapper">
			<p>
				Hi!<br />
				I’m Ronnie Battle.
			</p>
			<p>
				When I created vTutor, the vision and mission was simple… I wanted to help students everywhere achieve academic success through online, digital tutoring. Over the years, I have seen students in all walks of life achieve and exceed their own expectations with a little extra help and focused attention.
			</p><p>
				School can be difficult and challenging especially when students don’t relate to their teachers or aren’t able to fully grasp the subjects in the allotted time. We have selected professionally trained tutors from across the United States to work directly with students one-on-one to help them fully understand the course material. Whether they are trying to figure out their homework or prepare to ace the next test, we’re here to help all students succeed.
			</p><p>
				In my role as the CEO of Fellowship Sports Inc. (FSI), I have had the privilege to mentor some of the most talented young athletes in the nation. Many of them excel on the field but some have struggled in the classroom. I witnessed first-hand the power of tutoring when FSI helped several of these student-athletes get tutoring assistance that was not readily available. With the additional help, these students’ grades and test scores not only improved and but ALL of them earned Division 1 football scholarships.
			</p><p>
				It was then that I knew I wanted to make this opportunity available to all students everywhere.
			</p><p>
				Our schedules are full, parents are over-worked and over-stretched which makes it practically impossible to squeeze in tutoring sessions around school, work and other activities. vTutor was created to eliminate these excuses by providing students with a convenient, digital tutoring platform that enables students to get the help they need, when they need it from wherever they may be. All that is required is an Internet connection and a laptop, smartphone, or tablet and an hour of their time.
			</p><p>
				No contracts or packages are needed. You simply ask for the help you need and find a session that works around your schedule. It’s that simple. So, let’s get going and eliminate the EXCUSES!
			</p><p>


				Hope to see you online!
			</p>
			<p></p>
			<div class="why-signaturepic"></div>
		</div>
		<div class="col-sm-6"><img src="../../img/ronnie.png" /></div>
	</div>

</div>
