

<carousel [interval]="carouselInterval">
	<slide>
		<div class="bg-carousel">

			<div class="col-md-2"></div>
			<div class="col-md-5">
				<h5>Tutoring Based on Your Needs</h5>
				<h1>
					Personalized, flexible
					one-on-one instruction
					around your busy schedule
				</h1>
				<h2>Our professionally trained and certified vTutors can help with your specific academic needs</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">BOOK YOUR vTUTOR TODAY</button></div>
			</div>


			</div>

</slide>
	<slide>
		<div class="bg-carousel2">
			<div class="col-md-2"></div>
			<div class="col-md-5 ">
				<h5>Whenever You Need Us</h5>
				<h1>
					Virtual tutoring sessions
					from any location
					whenever you need us
				</h1>
				<h2>All you need is an Internet connection and a laptop or tablet</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">GET STARTED NOW</button></div>
			</div>
		</div>
	</slide>
	<slide>
		<div class="bg-carousel3">
			<div class="col-md-2"></div>
			<div class="col-md-5 ">
				<h5>On-Demand Scheduling</h5>
				<h1>
					Flexible and affordable
					virtual tutoring sessions
					one hour at a time
				</h1>
				<h2>No long-term contracts or expensive packages required</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">SIGN UP FOR A SESSION</button></div>
			</div>
		</div>
	</slide>
</carousel>

<div class="container tutsection">
	<div class="row">
		<div class="col-md-0"></div>
		<div class="col-md-12 text-center">
			<h1>
				WHY WAIT?<br />
				SCHEDULE YOUR SESSION NOW.
			</h1>
			<h3>
				Individualized one-hour sessions
				for students in grades 6-12
				in English, Math, Spanish and French
			</h3>
			<h2>Available on weeknights and weekends so you can select a time that works around your busy schedule</h2>

			<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">LET’S GET STARTED</button></div>


		</div>
		</div>
	</div>





<div class="bg-counter">
	<div class="row toprow">
		<div class="col-md-12 text-center">
			<h1 class="bob">Some important facts about us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2 text-center numbers">

			<h1>20<i class="fas fa-plus"></i></h1>
			<h3>vTutors</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>50<i class="fas fa-plus"></i></h1>
			<h3>Subjects</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>100<i class="fas fa-plus"></i></h1>
			<h3>Sessions/Week</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>50<i class="fas fa-plus"></i></h1>
			<h3>Languages Supported</h3>

		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

