@model VTutor.Email.TemplateModels.Basic
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<style>
			.link-hover:hover, .link-hover:active, .link-hover:focus{
				opacity: 0.8;
			}
            .kn-brand {
                font-family: 'Cinzel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #0B5830;
                font-weight: 700;
                font-size: 150px;
                text-align: center;
                margin-top: 30px;
            }
            .kn-brand-small {
                color: #0B5830;
                font-weight: 400;
                font-size: 25px;
                text-align: center;
                margin: 25px;
            }
		</style>
	</head>
	<body style="margin: 0;">
        <div style="text-align: center">
            <img src="http://knowtro.com//img/Knowtro_Tagline_CMYK.svg" width="350px" />
        </div>
		<table style="width: 100%; height: 100%;">
			<tbody>
				<tr>
					<td valign="top" align="center">
						<center>
							<table style="background: #F5F3F0; width: 100%;">
								<tr>
									<td align="center" style="padding: 25px 0;">
										<center>
											<table style="width: 550px;">
												<tr>
													<td align="center" style="background: #ffffff none repeat scroll 0 0; border: 1px solid #dcdad8; padding: 20px;">
														<center>
															<table >
																<tr>
																	<td style="color: #505050; font-family: arial; font-size: 24px; font-weight: bold;">
																		Hi @Model.Name,
																	</td>
																</tr>	
																<tr>
																	<td style="text-align: left; font-size: 16px; padding-top: 15px; font-family: verdana; line-height: 27px;">
																		<p>@Model.Content</p>
																	</td>
																</tr>
															</table>
														</center>
													</td>
												</tr>
												<tr>
													<td align="center" style="padding-top: 25px;">
														<center>
															<table style="width: 100%; background: white none repeat scroll 0% 0%; padding: 20px; border: 1px solid #dcdad8;">
																<tr>
																	<td style="font-size: 18px; font-family: Verdana; color: #505050;">Connect With Us:</td>
																</tr>
																<tr>
																	<td style="text-align: left; padding-top: 15px;">
																		<a class="link-hover" style="background-color: #3b5998; color: #fff; text-decoration: none; font-family: verdana; font-size: 15px; padding: 8px 15px; border-radius: 4px;" href="https://www.facebook.com/knowtro/">Facebook</a>
																		<a class="link-hover" style="background-color: #00aced; color: #fff; text-decoration: none; font-family: verdana; font-size: 15px; padding: 8px 15px; border-radius: 4px;" href="https://www.twitter.com/knowtro">Twitter</a>
																		<a class="link-hover" style="background-color: #dd4b39; color: #fff; text-decoration: none; font-family: verdana; font-size: 15px; padding: 8px 15px; border-radius: 4px;" href="https://www.plus.google.com/">Google +</a>
																	</td>
																	
																</tr>	
															</table>
															<table  style="width: 100%">
																<tr>
																	<td style="text-align: center; font-size: 13px; padding-top: 15px; font-family: verdana; line-height: 27px; font-weight: bold;">
																		<a href="#" style="color: #505050;">Terms of use</a> | 
																		<a href="#" style="color: #505050;">Legal</a>
																	</td>
																</tr>
																<tr>
																	<td style="text-align: center; font-family: verdana; font-size: 13px; color: #505050; padding-top: 5px;">
																		&copy; 2016 Knowtro, Inc.
																	</td>
																</tr>
															</table>
														</center>
													</td>
												</tr>
											</table>
										</center>
									</td>
								</tr>
							</table>
						</center>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>