



<div class="container-fliud footer-container">


	<div class="row  footer-top  align-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-1"><h1>BECOME A vTUTOR TODAY!</h1></div>
				<div class="col-md-3"><!--Absolutely Nothing--></div>
				<div class="col-md-2 float-right text-center align-middle"><a class="btn btn-primary submit-btn" [routerLink]="['/tutor-register']" role="button">APPLY NOW</a></div>
			</div>

		</div>


	</div>





	<div class="container footer-content">
		<div class="row">
			<div class="col-md-3">
				<div class="footer-title">ABOUT vTUTOR</div>

				Our mission is to help student-athletes succeed by providing them with virtual access to professional, interactive and personalized tutoring sessions whenever and wherever they need help.
			</div>
			<div class="col-md-3">
				<div class="footer-title">
					CONTACT
				</div>
				<div class="contact-item"><i class="fas fa-at"></i>customerservice@vtutor1.com</div>
				<div class="contact-item">
					<i class="fas fa-phone-volume"></i> +1 888-547-3583
				</div>
				<div class="contact-item">

					<i class="fas fa-map-marker"></i> 10 Glenlake Parkway, Suite 130, Atlanta, GA 30328
				</div>
				<div class="contact-item">
					<a href="https://twitter.com/vtutor1"><i class="fab fa-twitter-square"></i></a>
					<a href="https://www.facebook.com/vtutor1/"><i class="fab fa-facebook-square"></i></a>
					<a href="https://www.linkedin.com/company/virtualtutor/"><i class="fab fa-linkedin-in"></i></a>
					<a href="https://www.instagram.com/virtual_tutor/"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="col-md-3 offset-md-3">
				<div class="footer-title">
					USEFUL LINKS
				</div>
				<ul class="list-unstyled">
					<li class="page_item">
						<i class="fas fa-caret-right"></i>  <a [routerLink]="['login']">Login</a>
</li>
					<li class="page_item">
						<i class="fas fa-caret-right"></i>	<a [routerLink]="['refer-a-friend']">Refer a Friend</a>
</li>
					<li class="page_item">
						<i class="fas fa-caret-right"></i>	<a [routerLink]="['tutor-register']">Become a vTUTOR</a>
</li>
					<li class="page_item">
						<i class="fas fa-caret-right"></i>	Customer Service
					</li>
					<li class="page_item"><i class="fas fa-caret-right"></i> FAQs</li>
				</ul>
			</div>
		</div>


		<div class="row footercopy">
			<div class="pull-left hyper-left">

				<ul class="list-unstyled">
					<li><a [routerLink]="['privacy-policy']">Privacy Policy</a></li>
					<li><a [routerLink]="['terms-and-conditions']">Terms & Conditions</a></li>
				</ul>

			</div>
			<div class="pull-right hyper-right">
				© 2018 vTutor Online Tutoring. All rights reserved
			</div>


		</div>






	</div>
</div>
